html {
	box-sizing: border-box;
}

	*, *:before, *:after {
		box-sizing: inherit;
	}

body {
	background: #000;
	color: #a0acbb;
	font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
	height: auto;
	max-width: 100%;
}

#links {
	border-collapse: separate;
	border-spacing: 5px;
	margin-bottom: 1.5em;
	width: 100%;
}

	/* #links tr {
		background: url('library/images/rowbg.png') repeat-y 101% 0;
	} */

	#links td {
		background: #192131;
		padding: 1em;
		text-align: center;
		text-transform: uppercase;
		vertical-align: middle;
		width: 50%;
	}

		#links td a {
			color: #fff;
			display: block;
			text-decoration: none;
		}

.wrap {
	max-width: 100%;
	width: 960px;
}

#inner-header {
	margin: 2em auto 0;
	position: relative;
	text-align: center;
}

#inner-content {
	position: relative;
	margin: 0 auto;
}

	.wp-post-image {
		display: block;
		margin: 0 auto;
	}

#inner-footer {
	margin: 2em auto 0;
	position: relative;
}

	.copyright {
		bottom: 1em;
		font-weight: bold;
		margin: 0;
		position: absolute;
		right: 0;
		text-transform: uppercase;
	}

@media only screen and (max-width: 320px) {
	#links td {
		border: 2px solid #000;
		display: block;
		width: 100%;
	}

	#inner-footer {
		text-align: center;
	}

		#inner-footer .copyright {
			position: static;
		}
}