/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	background: $black url('../images/body-bg.png') repeat-x;
	color: $text-color;
	font-family: $sans-serif;
	font-size: 90%;
 	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
}

hr {
	border: 0;
	border-bottom: 1px solid $gray;
	margin: 1.5em 0;
}

.mobile-only {
	display: block;
}

.desktop-only {
	display: none;
}

.img-replace {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

.no-dots {
	list-style: none;
	margin: 0;
	padding: 0;
}

.flat {
	@extend .no-dots;

	li {
		display: inline;
		margin-left: 1em;
	}

	li:first-child {
		margin-left: 0;
	}
}

.pager {
	text-align: center;
}


/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	text-decoration: none;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-weight: 500;
	line-height: 1.2;
	text-rendering: optimizelegibility;

	/* removing text decoration from all headline links */
	a {
		text-decoration: none !important;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.25em;
	font-weight: bold;
	// margin-top: 2em;
}

h4, .h4 {
	font-size: 1.1em;
	font-style: italic;
	font-weight: bold;
}

	h3 + h4, .h3 + .h4 {
		margin-top: -1.1em;
	}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {}

	#inner-header {
		position: relative;
	}

		#logo {
			display: block;
			margin: 10px auto 0 auto;
		}

			#logo-words {
				display: block;
				margin: 1em auto;
				max-width: 96%;
			}

		#social {
			@extend .flat;
			position: absolute;
			right: 0;
			top: 5px;

			.members {
				background: $link-color;
				border-radius: 0 0 10px 10px;
				color: $white;
				font-weight: bold;
				padding: 0.5em 1.5em;
				position: relative;
				text-transform: uppercase;
				top: -2px;
				vertical-align: top;
			}

			.twitter, .faceboo, .youtube {
				@extend .img-replace;
				background-image: url('../images/socials.png');
				display: inline-block;
				height: 31px;
				opacity: 0.9;
			}

				.twitter {
					background-position: -1px 0;
					width: 43px;
				}

				.faceboo {
					background-position: -56px 0;
					width: 16px;
				}

				.youtube {
					background-position: -86px 0;
					width: 72px;
				}
		}

/*********************
NAVIGATION STYLES
*********************/

#menu-button {
	background: $black;
	border-radius: 0.25em;
	color: $white;
	font-size: 2.5em;
	line-height: 1;
	padding: 0.125em 0.33em;
	position: absolute;
	right: 0.25em;
	top: 0.25em;
}

nav {
	@extend .cf;
	background: $black;
	border-radius: 10px 10px 0 0;
	line-height: 1;
	position: relative;
}

	ul.top-nav {
		text-transform: uppercase;
	}

.nav {
	border-bottom: 0;
	margin: 0;
	padding: 0;

	li {

		a {
			display: block;
			color: $white;
			font-size: 2em;
			padding: 0.25em 0.5em;
			text-decoration: none;
		}

		&:first-child {}

		&:last-child {}

		ul.sub-menu,
		ul.children {
			margin: 0;
			padding: 0;

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/

#content {}

	#inner-content {
		background: #e7e7e7 url('../images/stripes-gray.png') repeat-y;
		position: relative;
	}

	.wp-post-image {
		border-top: 5px solid $black;
		display: block;
	}

	#information {
		background: $link-color;
		color: $white;
		font-size: 0.8em;
		font-style: italic;
		font-weight: bold;
		border-top: 8px solid $dark-gray;
		min-height: 32px;
		padding: 0.5em;
		text-align: center;
		text-transform: uppercase;

		a {
			color: $white;
		}

		.wp-post-image + & {
			margin-top: 0;
		}
	}

	.cycle-slideshow {
		img {
			display: block;
		}

		.cycle-pager {
			font-size: 3em;
			line-height: 20px;
			text-align: center;

			span {
				cursor: pointer;
				position: relative;
				top: -1px;
			}

			.cycle-pager-active {
				color: $link-color;
			}
		}
	}

	#main {}

	.hentry {
		border-radius: 3px;
		margin-bottom: 1.5em;

		header {
			padding: 1.5em;
			padding-bottom: 0;
		}

		footer {
			font-size: 0.9em;
			padding: 1.5em;

			p {
				margin: 0;
			}
		}

	} /* end .hentry */

	.single-title,
	.page-title,
	.entry-title {
		margin: 0;
	}

		.single-title {}

		.page-title {
			display: none;
		}

		.entry-title {}

		.archive-title {
			margin: 0;
			padding: 1.5em 1.5em 0;
		}

	.page-excerpt {
		font-size: 1.1em;
		font-style: italic;

		p {
			margin: 0;
		}
	}

	.post-excerpt {
		.article-header {
			padding-top: 0;
		}

		.entry-content {
			padding-top: 0;
		}
	}

	/* want to style individual post classes? Booya! */
	.post-id {}         /* post by id (i.e. post-3) */
	.post {}            /* general post style */
	.page {}            /* general article on a page style */
	.attachment {}      /* general style on an attatchment */
	.sticky {}          /* sticky post style */
	.hentry {}          /* hentry class */
	.category-slug {}   /* style by category (i.e. category-videos) */
	.tag-slug {}        /* style by tag (i.e. tag-news) */

	/* post meta */
	.byline {
		color: $gray;
		font-style: italic;
		margin: 0;

		time {}
	}

	/* entry content */
	.entry-content {
		padding: 1.5em 1.5em 0;

		h3:first-child, .h3:first-child {
			margin-top: 0;
		}

		p {
			margin: 1em 0 1.5em 0;
		}

		a {
			text-decoration: underline;
		}

		ul, ol, table, dl {}

		ul, ol {

			li {}

		}

		ul {

			li {}

		}

		ol {

			li {}

		}

		table {
			width: 100%;
			border: 1px solid $gray;
			margin-bottom: 1.5em;

			caption {
				margin: 0 0 7px;
				font-size: 0.75em;
				color: $gray;
				text-transform: uppercase;
				letter-spacing: 1px;
			}
		}

		tr {
			border-bottom: 1px solid $gray;

			&:nth-child(even) {
				background-color: $light-gray;
			}
		}

		td {
			padding: 7px;
			border-right: 1px solid $gray;

			&:last-child {
				border-right: 0;
			}
		}

		th {
			background-color: $light-gray;
			border-bottom: 1px solid $gray;
			border-right: 1px solid $gray;

			&:last-child {
				border-right: 0;
			}
		}

		blockquote {
			margin: 0 0 1.5em 0.75em;
			padding: 0 0 0 0.75em;
			border-left: 3px solid $blue;
			font-style: italic;
			color: $gray;

			&:before {}

		}

		dl {}

		dt {}

		dd {
			margin-left: 0;
			font-size: 0.9em;
			color: $gray;
			margin-bottom: 1.5em;
		}

		img {
			margin: 0 0 1.5em 0;
			max-width: 100%;
			height: auto;
		}

		.alignleft, img.alignleft,
		.alignright, img.alignright,
		.aligncenter, img.aligncenter {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.size-auto,
		.size-full,
		.size-large,
		.size-medium,
		.size-thumbnail {
			max-width: 100%;
			height: auto;
		}

		pre {
			background: $black;
			color: $light-gray;
			font-size: 0.9em;
			padding: 1.5em;
			margin: 0 0 1.5em;
			border-radius: 3px;
		}

	} /* end .entry-content */

	.wp-caption {
		max-width: 100%;
		background: #eee;
		padding: 5px;

		/* images inside wp-caption */
		img {
			max-width: 100%;
			margin-bottom: 0;
			width: 100%;
		}

		p.wp-caption-text {
			font-size: 0.85em;
			margin: 4px 0 7px;
			text-align: center;
		}

	} /* end .wp-caption */

	/* image gallery styles */
	.gallery {

		dl {

			a {}

			img {}

		}

		dt {}

		dd {}

	} /* end .gallery */

	/* gallery caption styles */
	.gallery-caption {}

	.size-full {}
	.size-large {}
	.size-medium {}
	.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}

	body.home {
		#inner-content {
			background: $dark-gray;
		}

		#main {
			.m-all {
				padding: 0.5em;
				text-align: center;

				h3 {
					color: $white;
					font-size: 1em;
					margin: 0 0 0.33em 0;
					text-transform: uppercase;
				}

				img {
					display: inline-block;
				}
			}
		}
	}

	body.page-locations {}

		#gyms {
			border: 0;
			font-size: 0.9em;
			table-layout: fixed;
			width: 100%;

			td {
				border: 0;
				vertical-align: middle;
			}

			h3 {
				margin: 1em 0 0 0;
			}

			h3:first-child {
				margin-top: 0;
			}
		}

			tr.location {
				.club {
					font-weight: bold;
					width: 25%;
				}

				.phone {
					width: 25%;
				}

				.address {
					width: 40%;
				}

				.more {
					text-align: right;
					width: 10%;
				}
			}

			tr.gym-info {
				td {
					//display: block;
				}

				.map {
					img {
						margin: 0;
					}
				}
			}

	.accordion {
		.even {
			cursor: pointer;

			&::after {
				color: $gray;
				content: ' \2193';
				font-size: 0.75em;
				position: relative;
				top: -0.25em;
			}

			&.open::after {
				content: ' \2191';
			}
		}

		h3 {
			margin: 0 0 0.5em 0;
		}

		h4 {
			border-bottom: 1px solid $gray;
		}

		ul {
			li {
				img {
					margin: 0;
					vertical-align: top;
				}
			}
		}
	}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current {
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}
}

.comment-nav {
	ul {
		li {}
	}
}

.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}

	/* comment meta */
	.comment-meta {
		a {}
	}

	.commentmetadata {
		a {}
	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	background: $dark-gray;
	color: $white;
	font-size: 0.9em;
	padding: 0 1em;

	img {
		display: block;
		margin: 0 auto;
	}

	a {
		color: $white;
	}
}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

	.flush {
		margin: 0 -1em;
	}

	.testimonial {
		blockquote {
			background: rgba(120, 18, 18, 0.75); // $link-color
			color: $white;
			font-weight: bold;
			margin-left: 0;
			margin-right: 0;
			margin-top: -50%;
			padding: 1px 1em;
			position: relative;
			z-index: 10;

			cite {
				display: block;
				font-weight: normal;
				padding: 0 1em;
				position: relative;

				&::before {
					content: '\2013\00a0'; // &ndash;&nbsp;
					left: 0;
					position: absolute;
				}
			}

			.success-stories {
				color: $white;
				display: block;
				padding: 0.25em 0;
				text-align: center;
				text-transform: uppercase;
			}
		}
	}

	.one-week-pass {
		position: absolute;
		bottom: 0;

		img {
			max-width: 275px;
		}
	}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $black;
	color: $light-gray;
	font-size: 0.9em;
}

	#inner-footer {
		color: $gray;
		position: relative;

		img {
			margin: 0.5em 0;
		}

		a {
			color: $gray;
			text-decoration: none;
		}

		.copyright {
			bottom: 1em;
			position: absolute;
			font-weight: bold;
			margin: 0;
			right: 0;
			text-transform: uppercase;
		}
	}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}
